    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      
      margin-bottom: 0;
      border-radius: 0;
      background-color: white;
      font-weight: bold;
      color: black;
      font-size: 35px;
      
      
    }
    
    #navMenu {
      color:black;
      font-family: 'Audiowide';
    }
    
     .nav > li > a:hover{
      text-decoration:underline;
      color:black;
     }
     
     .nav > li > a:link{
      color:black;
     }
    
    .nav a{
      color:black;
    }
    
  #navSet {
    background-color:white;
    color:black;
    margin-right:50px;
    
  }
  
  a.active{
    color:blue;
  }
  
 #navSet:link {
    color: red;
  }
  
  
  #myNavbar{
    color:black;
  }
  
  ul li a:hover{
    text-decoration:underline;
    color:black;
  }
    
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  


input[type=text]:focus {
    width: 100%;
}